name: create release

on:
  pull_request:
    branches:
      - dev
    types: [closed]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install shyaml pyyaml
      - name: Get version from publish.yaml
        run: cat publish.yaml | "yaml get-value Version" >> $GITHUB_ENV
      - name: Version Bump
        run: python -c "import yaml;version = ${{env.version}}.split('.'); version[2] = str(int(version[2])+1); version = '.'.join(version); f=open('publish.yaml');y=yaml.safe_load(f);y['Version'] = version; print(yaml.dump(y, default_flow_style=False))" > publish.yaml
      - name: Create release
        uses: actions/create-release@latest
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: ''
          draft: false
          prerelease: false
